@font-face {
  font-family: 'DIN Pro';
  src: url(../fonts/DINPro.ttf) format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@media screen and (min-width: 1110px) {
  .section-content-five-content {
    width: 1110px;
  }
  .section-content-six-content {
    width: 1110px;
  }
  .section-content-four-content {
    width: 1110px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.swiper {
  height: 100% !important;
  width: 20%;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  margin: 0;
  position: absolute;
  z-index: 9;
  width: 100%;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 132px;
  margin-left: 207px;
}

header .navbar .logo {
  opacity: 0.9;
  padding-top: 11px;
}

header .navbar .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

header .navbar .menu-items .form-order-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  display: block;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

header .navbar .menu-items .form-order-btn::before {
  content: attr(data-hover);
  display: inline-block;
  height: 100%;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .menu-items .form-order-btn::after {
  content: attr(data-hover);
  display: inline-block;
  position: absolute;
  height: 100%;
  color: #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  top: 110%;
  left: 0;
}

header .navbar .menu-items .form-order-btn:hover {
  -webkit-transform: translate3d(0, -110%, 0);
          transform: translate3d(0, -110%, 0);
}

header .navbar .menu-items .lang {
  margin-left: 66px;
  margin-right: 104px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  display: block;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

header .navbar .menu-items .lang::before {
  content: attr(data-hover);
  display: inline-block;
  height: 100%;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .menu-items .lang::after {
  content: attr(data-hover);
  display: inline-block;
  position: absolute;
  height: 100%;
  color: #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  top: 110%;
  left: 0;
}

header .navbar .menu-items .lang:hover {
  -webkit-transform: translate3d(0, -110%, 0);
          transform: translate3d(0, -110%, 0);
}

header .navbar .menu-items .menu-btn {
  z-index: 999999;
  position: fixed;
  left: 90%;
  top: 8px;
}

header .navbar .menu-items button {
  padding: 0;
  color: #FFF;
  background: none;
  border: none;
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  min-width: 38.19444vw;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background: #000;
  background-image: url(../img/stars.png);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform: matrix(1, 0, -0.36794, 1, -650, 0);
          transform: matrix(1, 0, -0.36794, 1, -650, 0);
}

.menu__box ul {
  list-style-type: none;
}

.menu__box ul .menu__item {
  display: block;
  padding: 25px 250px;
  color: #fff;
  font-family: 'DIN Pro';
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  text-align: right;
  text-decoration: none;
  color: #FFF;
}

.wrapper-menu {
  width: 37px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  z-index: 999999;
  left: 90%;
  top: 20px;
  position: fixed;
}

.wrapper-menu.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.line-menu.half {
  width: 50%;
}

.wrapper-menu:hover .start {
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.wrapper-menu:hover .end {
  -webkit-transform: translateX(-19px);
  transform: translateX(-19px);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.open .line-menu.start {
  -webkit-transform: rotate(90deg) translateX(7px);
          transform: rotate(90deg) translateX(7px);
}

.line-menu.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: -webkit-transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.open .line-menu.end {
  -webkit-transform: rotate(-90deg) translateX(-3px);
          transform: rotate(-90deg) translateX(-3px);
}

.menu__box.open {
  visibility: visible;
  right: 0;
  -webkit-transform: matrix(1, 0, 0, 1.03528, 0, 0);
          transform: matrix(1, 0, 0, 1.03528, 0, 0);
}

.menu__item:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.section-content-one {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg-section-one.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.section-content-one::after {
  content: "";
  display: block;
  position: absolute;
  right: 22%;
  bottom: 0;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 2px;
  height: 35px;
  margin-left: -1px;
  background-color: #fff;
  -webkit-animation: scrollLine 2s ease infinite;
          animation: scrollLine 2s ease infinite;
}

.section-content-one .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 473px;
}

.section-content-one .description {
  position: absolute;
  left: 207px;
  top: 833px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
}

.section-content-one .description h2 {
  margin: 0;
}

.section-content-one .description p {
  margin: 0;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.section-content-one .description .text_box {
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

.section-content-one .description .text_box .word {
  font-family: 'Montserrat', normal;
  position: absolute;
  width: auto;
  opacity: 0;
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(15px);
          transform: translateZ(15px);
  -webkit-transform-origin: 50% 50% 55px;
          transform-origin: 50% 50% 55px;
}

.letter.out {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.letter.in {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 0.44s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.44s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.44s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.44s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.44s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.down {
  position: absolute;
  right: 19%;
  bottom: 4%;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.rt_text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  display: block;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.rt_text::before {
  content: attr(data-hover);
  display: inline-block;
  height: 100%;
  color: #fff;
}

.rt_text::after {
  content: attr(data-hover);
  display: inline-block;
  position: absolute;
  height: 100%;
  color: #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  top: 110%;
  right: 0;
}

.rt_text:hover {
  -webkit-transform: translate3d(0, -110%, 0);
          transform: translate3d(0, -110%, 0);
}

@-webkit-keyframes scrollLine {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(35%);
            transform: translateY(35%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes scrollLine {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(35%);
            transform: translateY(35%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.section-content-two {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/bg-section-two.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
}

.service__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  z-index: 100;
}

.service__info:hover {
  color: #FFF;
}

.service__info::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 2px;
  height: 35px;
  margin-left: -1px;
  background-color: #fff;
  -webkit-animation: scrollLine 2s ease infinite;
          animation: scrollLine 2s ease infinite;
}

.service__info .button-qury {
  position: absolute;
  bottom: 5%;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

.service__info_link--active {
  -webkit-box-shadow: 0px 0px 100px #000000, 0px 0px 100px #000000;
          box-shadow: 0px 0px 100px #000000, 0px 0px 100px #000000;
  background: none;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.service__info_link--active:first-child ~ .plank__box {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.service__info_link--active:nth-child(2) ~ .plank__box {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.service__info_link--active:nth-child(3) ~ .plank__box {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.plank__box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 33.3333%;
  margin: 0 auto;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.plank__box::before {
  content: '';
  width: 100000vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.38)));
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.38) 100%);
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
}

.plank__box::after {
  content: '';
  width: 100000vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.38)));
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.38) 100%);
  display: block;
  position: absolute;
  right: 100%;
  top: 0;
  height: 100%;
}

.service__info_body {
  z-index: 100;
}

.section-content-three {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/bg-section-threee.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  color: #FFF;
}

.section-content-three .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-content-three .reviews h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 180px;
  margin-bottom: 100px;
}

.section-content-three .reviews .reviews-content {
  width: 380px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-content-three .reviews .reviews-content .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  margin-bottom: 55px;
}

.section-content-three .reviews .reviews-content .author img {
  height: 70px;
  width: 70px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(68, 117, 226, 0.15));
          filter: drop-shadow(0px 4px 15px rgba(68, 117, 226, 0.15));
}

.section-content-three .reviews .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #fff;
  z-index: 10;
}

.section-content-three .reviews .reviews-planet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-content-three .reviews .reviews-planet .planet-content {
  position: relative;
}

.section-content-three .reviews .reviews-planet .text-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-content-three .reviews .reviews-planet .text-circle p {
  position: relative;
}

.section-content-three .reviews .reviews-planet .text-circle .one {
  left: 110%;
}

.section-content-three .reviews .reviews-planet .text-circle .two {
  left: 20%;
}

.section-content-three .reviews .reviews-planet .text-circle .four {
  left: 20%;
}

.section-content-three .reviews .reviews-planet .text-circle .five {
  left: 110%;
}

.section-content-three .reviews .reviews-planet .circle {
  width: 700px;
  height: 700px;
  border: 1px solid #2f2f2f;
  border-radius: 100%;
  position: relative;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-content-three .reviews .reviews-planet .planet {
  position: absolute;
  top: 5%;
  left: 5%;
}

.stripe-svg {
  position: absolute;
  left: 20%;
  top: .5%;
  -webkit-transform: rotate(0.1rad);
          transform: rotate(0.1rad);
}

.section-content-four {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../img/bg-section-four.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #FFF;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.section-content-four .section-content-four-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin: auto;
}

.section-content-four .section-content-four-content .header-choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid;
  padding-bottom: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.section-content-four .section-content-four-content .header-choise button {
  padding-right: 70px;
  opacity: 0.5;
  color: #FFF;
  background: none;
  border: none;
}

.section-content-four .section-content-four-content .header-choise button:hover {
  color: #FFF;
}

.section-content-four .section-content-four-content .header-choise button:active {
  opacity: 1;
}

.section-content-four .section-content-four-content .header-choise .header-choise-btn--active {
  color: #FFF;
  opacity: 1;
}

.section-content-four .section-content-four-content .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 110px;
}

.section-content-four .section-content-four-content .information .personal-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 100px;
}

.section-content-four .section-content-four-content .information .personal-information h5 {
  padding-bottom: 64px;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

.section-content-four .section-content-four-content .information .personal-information .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-content-four .section-content-four-content .information .personal-information .data .form-floating .form-control {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  color: #FFF;
  padding-top: 20px;
  padding-left: 0;
  padding-bottom: 0;
}

.section-content-four .section-content-four-content .information .personal-information .data .form-floating .form-control:focus {
  border-color: #FFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-content-four .section-content-four-content .information .personal-information .data .form-floating .label-form {
  padding: 10px 0;
}

.section-content-four .section-content-four-content .budget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.section-content-four .section-content-four-content .budget h5 {
  margin-bottom: 99px;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

.section-content-four .section-content-four-content .budget .line {
  margin-bottom: 67px;
  position: relative;
}

.section-content-four .section-content-four-content .budget .line .form-label {
  width: 100%;
  text-align: center;
}

.section-content-four .section-content-four-content .budget .line .form-range::-webkit-slider-thumb {
  background: radial-gradient(87.48% 87.44% at 74.14% 28.44%, #FFFFFF 0%, #FBFCFE 7.05%, #EEF2F9 14.31%, #DAE2F2 21.68%, #BDCCE9 29.12%, #98AFDC 36.6%, #6B8CCD 44.03%, #3D68BD 50.54%, #3C67BB 50.87%, #234179 61.54%, #102649 70.51%, #04152C 77.34%, #000F21 81.22%, #0D1F35 84.36%, #2F4769 90.79%, #6488BB 99.88%, #6589BC 100%);
  height: 32px;
  width: 32px;
  position: relative;
  bottom: 10px;
  z-index: 50;
}

.section-content-four .section-content-four-content .budget .line .form-range::-webkit-slider-runnable-track {
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  align-self: center;
}

.section-content-four .section-content-four-content .budget .line .ball {
  background: radial-gradient(87.48% 87.44% at 74.14% 28.44%, #FFFFFF 0%, #FBFCFE 7.05%, #EEF2F9 14.31%, #DAE2F2 21.68%, #BDCCE9 29.12%, #98AFDC 36.6%, #6B8CCD 44.03%, #3D68BD 50.54%, #3C67BB 50.87%, #234179 61.54%, #102649 70.51%, #04152C 77.34%, #000F21 81.22%, #0D1F35 84.36%, #2F4769 90.79%, #6488BB 99.88%, #6589BC 100%);
  width: 17px;
  height: 17px;
  border-radius: 100%;
  position: absolute;
  top: 5%;
  border: none;
  z-index: 10;
}

.section-content-four .section-content-four-content .budget .line .two {
  position: absolute;
  left: 49%;
}

.section-content-four .section-content-four-content .budget .line .three {
  position: absolute;
  left: 97%;
}

.section-content-four .section-content-four-content .budget .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
}

.section-content-four .section-content-four-content .budget .form-control {
  margin-bottom: 120px;
  background: none;
  border: none;
}

.section-content-four .section-content-four-content .budget .form-control .js-fileName {
  background: none;
  border: none;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFF;
  cursor: pointer;
}

.section-content-four .section-content-four-content .budget .accept {
  background: none;
  border: none;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFF;
}

.section-content-four.open {
  visibility: visible;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.closed-menu {
  width: 37px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  z-index: 999999;
  position: relative;
  right: -29%;
  top: 40%;
}

.closed-menu.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line-menu-closed {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.line-menu--closed.half {
  width: 50%;
}

.closed-menu:hover.start {
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.closed-menu:hover.end {
  -webkit-transform: translateX(-19px);
  transform: translateX(-19px);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.open .line-menu-closed.start {
  -webkit-transform: rotate(90deg) translateX(14px);
          transform: rotate(90deg) translateX(14px);
}

.line-menu-closed.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: -webkit-transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.open .line-menu-closed.end {
  -webkit-transform: rotate(-90deg) translateX(-3px);
          transform: rotate(-90deg) translateX(-3px);
}

.section-content-five {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#010003), color-stop(29.17%, #07041E), color-stop(30.73%, #07041E), color-stop(50.52%, #111C4D), color-stop(75.52%, #07041E), to(#010206)), #000001;
  background: linear-gradient(180deg, #010003 0%, #07041E 29.17%, #07041E 30.73%, #111C4D 50.52%, #07041E 75.52%, #010206 100%), #000001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  min-height: 120%;
}

.section-content-five .section-content-five-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.section-content-five .section-content-five-content .popylar-q-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.section-content-five .section-content-five-content .popylar-q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-content-five .section-content-five-content .popylar-q .popylar-q-three {
  width: 50%;
}

.section-content-five .section-content-five-content .popylar-q .accordion .accordion-item {
  border-radius: 10px;
  border: none;
  margin-right: 25px;
  margin-bottom: 30px;
  background: none;
}

.section-content-five .section-content-five-content .popylar-q .accordion .accordion-item .accordion-header .accordion-button {
  color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 15px rgba(68, 117, 226, 0.15);
          box-shadow: 0px 4px 15px rgba(68, 117, 226, 0.15);
  padding-left: 43px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  font-family: DIN Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.section-content-five .section-content-five-content .popylar-q .accordion .accordion-item .accordion-header .accordion-button::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0BB2FF;
  left: 0;
  border-radius: 10px 10px 10px 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: -1;
}

.section-content-five .section-content-five-content .popylar-q .accordion .accordion-item .accordion-header .accordion-button::after {
  content: '+';
  background-image: none;
  -webkit-transform: none;
          transform: none;
  height: auto  !important;
  width: auto !important;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

.section-content-five .section-content-five-content .popylar-q .accordion .accordion-item .accordion-header .accordion-button.collapsed {
  background: rgba(255, 255, 255, 0.2);
  color: #FFF;
  -webkit-box-shadow: 0px 4px 15px rgba(68, 117, 226, 0.15);
          box-shadow: 0px 4px 15px rgba(68, 117, 226, 0.15);
  padding-left: 43px;
}

.section-content-five .section-content-five-content .popylar-q .accordion .accordion-item .accordion-header .accordion-button.collapsed::before {
  content: '';
  display: block;
  position: absolute;
  width: 5%;
  height: 100%;
  background: #0BB2FF;
  left: 0;
  border-radius: 10px 0 0 10px;
}

.section-content-five .section-content-five-content .popylar-q .accordion .accordion-item .accordion-header .accordion-button.collapsed::after {
  color: #85E3FD;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  height: auto;
  width: auto;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.section-content-five .section-content-five-content .popylar-q .accordion .accordion-body {
  background: rgba(133, 227, 253, 0.2);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 24px 29px 25px 27px;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-right: 25px;
}

.section-content-six {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  color: #FFF;
  background: url(../img/bg-section-six.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-content-six::after {
  content: '';
  display: block;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#01040F), color-stop(53.12%, #23326A), to(#01040F)), #022C5E;
  background: linear-gradient(180deg, #01040F 0%, #23326A 53.12%, #01040F 100%), #022C5E;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: normal;
  opacity: 0.6;
  z-index: 1;
}

.section-content-six .section-content-six-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-content-six .section-content-six-content .contacs-heading {
  width: 100%;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.section-content-six .section-content-six-content .contacts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-content-six .section-content-six-content .contacts-items .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-content-six .section-content-six-content .contacts-items .contacts .c-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-content-six .section-content-six-content .contacts-items .contacts .c-group .c-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-content-six .section-content-six-content .contacts-items .contacts .c-group .c-item img {
  padding-bottom: 27px;
}

.section-content-six .section-content-six-content .contacts-items .contacts .c-group .c-item p {
  font-family: DIN Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
}

.section-content-six .section-content-six-content .contacts-items .contacts .c-group .c-item span {
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form .form-floating {
  margin-bottom: 20px !important;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form .form-floating::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#0F516A), to(#0F516A));
  background: linear-gradient(0deg, #0F516A, #0F516A);
  opacity: 0.2;
  border-radius: 5px;
  border: none;
  top: 0;
  z-index: -1;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form .form-floating .input {
  background: none;
  border-radius: 5px;
  border: none;
  color: #FFF;
  height: 50px;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form .form-floating .input:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form .form-floating label {
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form .textarea {
  height: 150px;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form .file {
  color: #FFF;
  background: none;
  border: none;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  height: 25px;
  margin-bottom: 25px;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form .file .load {
  padding-left: 170px;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #85E3FD;
  cursor: pointer;
}

.section-content-six .section-content-six-content .contacts-items .contacts-form button {
  background: #2F80ED;
  border-radius: 100px;
  border: none;
  height: 50px;
  -webkit-filter: drop-shadow(0px 2px 15px rgba(68, 117, 226, 0.5));
          filter: drop-shadow(0px 2px 15px rgba(68, 117, 226, 0.5));
  color: white;
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
/*# sourceMappingURL=style.css.map */