@font-face 
	font-family: 'DIN Pro'; 
	src: url(../fonts/DINPro.ttf) format('truetype'); 

@font-face 
	font-family: 'Montserrat'; 
	src: url(../fonts/Montserrat-SemiBold.ttf) format('truetype'); 
a
  color: #fff
  text-decoration: none
button
  &:focus
    box-shadow: none !important
header
  margin: 0
  position: absolute
  z-index: 9
  width: 100%;
  .navbar
    display: flex
    margin-right: 132px
    margin-left: 207px
    .logo
      opacity: 0.9;
      padding-top: 11px
    .menu-items
      display: flex
      .lang
        margin-left: 66px
        margin-right: 104px
      .menu-btn
        z-index: 999999
        position: fixed
        left: 90%
        top: 8px
      button
        padding: 0
        color: #FFF
        background: none;
        border: none;
        font-family: 'DIN Pro'
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;

.menu__box
  display: block
  position: fixed
  visibility: hidden
  top: 0
  right: -100%
  min-width: 38.19444vw
  height: 100%
  margin: 0
  padding: 80px 0
  list-style: none
  background: #000
  background-image: url(../img/stars.png)
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2)
  transition-duration: .5s
  transform: matrix(1, 0, -0.36794, 1, -650, 0)
  ul
    list-style-type: none
    .menu__item
      display: block
      padding: 25px 0px
      color: #fff
      font-family: 'Europeext normal', arial
      font-size: 36px
      font-weight: 600
      text-decoration: none
      transition: transform .5s ease
      text-align: center
      text-decoration: none
      color: #FFF
.wrapper-menu 
  width: 37px
  height: 17px
  display: flex
  flex-direction: column
  justify-content: space-between
  cursor: pointer
  transition: transform 500ms ease-out
  z-index: 999999
  left: 90%
  top: 20px
  position: fixed

.wrapper-menu.open 
  transform: rotate(-45deg)

.line-menu 
  background-color: #fff
  border-radius: 5px
  width: 100%
  height: 3px


.line-menu.half 
  width: 50%


.line-menu.start 



.wrapper-menu:hover .start 
  transition: transform 300ms ease-out

.wrapper-menu:hover .end 
  -webkit-transform: translateX(-19px)
  transform: translateX(-19px)
  transition: transform 300ms ease-out


.open .line-menu.start 
  transform: rotate(90deg) translateX(7px)


.line-menu.end 
  align-self: flex-end
  transition: transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
  transform-origin: left


.open .line-menu.end 
  transform: rotate(-90deg) translateX(-3px)

.menu__box.open 
  visibility: visible
  right: 0
  transform: matrix(1, 0, 0, 1.03528, 0, 0)

.menu__item
  &:hover
    transform: translateX(-20px)
.section-content-one
  position: absolute
  width: 100%
  height: 100%
  background-image: url(../img/bg-section-one.png)
  background-size: cover
  background-repeat: no-repeat
  top: 0%
  overflow: hidden
  &::after
    content: ""
    display: block;
    position: absolute;
    right: 22%;
    bottom: 0;
    transform-origin: 50% 100%;
    width: 2px;
    height: 35px;
    margin-left: -1px;
    background-color: #fff;
    animation: scrollLine 2s ease infinite;
  .main
    display: flex 
    justify-content: center;
    position: absolute;
    top: 473px;
  .description
    position: absolute
    left: 207px;
    top: 833px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    h2
      margin: 0
    p
      margin: 0
      font-family: DIN Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
  .down
    position: absolute
    right: 19%
    bottom: 3%
    font-family: DIN Pro
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 22px
    text-align: center
    text-transform: uppercase
.rt_text
  &::before
    content: attr(data-hover);
    display: inline-block;
    height: 100%;
    color: #fff; 
@keyframes scrollLine
  0% 
    transform: translateY(0%)
  50%
    transform: translateY(35%)
  100% 
    transform: translateY(0%)   
.section-content-two
  position: absolute
  top: 100%
  width: 100%
  height: 100%
  background: url(../img/bg-section-two.png)
  background-size: cover
  background-repeat: no-repeat
  z-index: -1
  overflow: hidden
.service
  display: flex
  justify-content: space-around;
  height: 100%;
  width: 100%;
.service__info
  display: flex
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none
  color: #FFF
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 100%
  height: 100%
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.38) 100%)
  transition: all 2s ease-out
  &:hover
    color: #FFF
  &::after
    content: ""
    display: block;
    position: absolute;
    bottom: 0;
    transform-origin: 50% 100%;
    width: 2px;
    height: 35px;
    margin-left: -1px;
    background-color: #fff;
    animation: scrollLine 2s ease infinite;
  .button-qury
    position: absolute
    bottom: 5%
    font-family: DIN Pro
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 22px
    text-align: center
    text-transform: uppercase
  
.service__info_link--active
  box-shadow: 0px 0px 100px #000000, 0px 0px 100px #000000;
  background: none
  transition: all 2s ease-out

.service__info_link--active:first-child~.plank__box
    transform: translate3d(-100%,0,0);

.service__info_link--active:nth-child(2)~.plank__box
    transform: translateZ(0);
    
.service__info_link--active:nth-child(3)~.plank__box
    transform: translate3d(100%,0,0);

.plank__box 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 33.3333%;
  margin: 0 auto;
  box-shadow: 0px 0px 100px #000000, 0px 0px 100px #000000;
  transition: 2s ease-out;

.service__info_body
  z-index: 100

.section-content-three
  position: absolute
  top: 200%
  width: 100%
  height: 100%
  background: url(../img/bg-section-threee.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  z-index: -1
  overflow: hidden
  color: #FFF
  .reviews
    display: flex
    height: 100%
    width: 100%
    align-items: center
    justify-content: space-around;
    .reviews-content
      width: 380px;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .author
        display: flex
        align-items: center
        img
          height: 70px
          width:  70px
          filter: drop-shadow(0px 4px 15px rgba(68, 117, 226, 0.15))
      .dots
        width: 100%;
        display: flex;
        justify-content: center;
        ul
          display: flex
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly
          width: 50%
          list-style-type: none
          li
            &::before
              content: "\2022";  /* юникод точки */
              color: #FFF; /* Менять цвет */
              font-weight: bold; /* Менять жирность */
              display: inline-block; /* Расстояние между точкой и текстом */
              font-size: 40px
              height: 17px
              width: 17px
    .reviews-planet
      display: flex
      width: 900px;
      justify-content: space-between
      .planet-content
        position: relative
      .text-circle
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p
          position: relative
        .one
          left: 110%
        .two
          left: 20%
        .four
          left: 20%
        .five
          left: 110%
      .circle
        width: 700px
        height: 700px
        border: 1px solid #2f2f2f
        border-radius: 100%
        position: relative;
        transition: all 1s ease-out
        display: flex
        align-items: center;
        justify-content: center;
      .planet
        position: absolute
        top: 5%
        left: 5%
.stripe-svg
  position: absolute
  left: 20%
  top: .5%
  transform: rotate(0.1rad)

.section-content-four
  display: block
  position: absolute
  visibility: hidden
  top: 0
  right: 0
  left: 0;
  bottom: 0;
  background: url(../img/bg-section-four.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: 
  z-index: 100
  overflow: hidden
  color: #FFF
  transition: all .8s ease
  transform: scale(0)

  .section-content-four-content
    display: flex
    width: 100%
    height: 100%
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase
    .header-choise
      display: flex
      width: 60%;
      justify-content: flex-start;
      border-bottom: 1px solid
      padding-bottom: 22px
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      button
        padding-right: 70px
        opacity: 0.5
        color: #FFF
        background: none
        border: none
        &:hover
          color: #FFF
        &:active
          opacity: 1
      .header-choise-btn--active
        color: #FFF
        opacity: 1
    .information
      display: flex
      width: 60%
      justify-content: space-between
      margin-top: 110px
      .personal-information
        display: flex
        flex-direction: column
        width: 40%
        h5
          padding-bottom: 64px
          font-family: DIN Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 30px;
        .data
          display: flex
          flex-direction: column
          .form-floating
            .form-control
              background: none
              border-top: none
              border-left: none                   
              border-right: none
              border-radius: 0
              color: #FFF
              padding-top: 20px
              padding-left: 0
              padding-bottom: 0
              &:focus
                border-color: #FFF
                box-shadow: none
            .label-form
              padding: 10px 0;
    .budget
      display: flex
      flex-direction: column
      width: 50%
      h5
        margin-bottom: 99px
        font-family: DIN Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
      .line
        margin-bottom: 116px
        position: relative
        .form-label
          width: 100%
          text-align: center
        .form-range
          &::-webkit-slider-thumb
            background: radial-gradient(87.48% 87.44% at 74.14% 28.44%, #FFFFFF 0%, #FBFCFE 7.05%, #EEF2F9 14.31%, #DAE2F2 21.68%, #BDCCE9 29.12%, #98AFDC 36.6%, #6B8CCD 44.03%, #3D68BD 50.54%, #3C67BB 50.87%, #234179 61.54%, #102649 70.51%, #04152C 77.34%, #000F21 81.22%, #0D1F35 84.36%, #2F4769 90.79%, #6488BB 99.88%, #6589BC 100%);
            height: 32px
            width: 32px
            position: relative
            bottom: 10px
            z-index: 50
          &::-webkit-slider-runnable-track
            height: 1px
            background: rgba(255, 255, 255, 0.5)
            align-self: center
        .ball
          background: radial-gradient(87.48% 87.44% at 74.14% 28.44%, #FFFFFF 0%, #FBFCFE 7.05%, #EEF2F9 14.31%, #DAE2F2 21.68%, #BDCCE9 29.12%, #98AFDC 36.6%, #6B8CCD 44.03%, #3D68BD 50.54%, #3C67BB 50.87%, #234179 61.54%, #102649 70.51%, #04152C 77.34%, #000F21 81.22%, #0D1F35 84.36%, #2F4769 90.79%, #6488BB 99.88%, #6589BC 100%);
          width: 17px
          height: 17px
          border-radius: 100%
          position: absolute
          top: 5%
          border: none
          z-index: 10
        .two
          position: absolute
          left: 49%
        .three
          position: absolute
          left: 97%
      .text

        display: flex
        justify-content: space-between
        background: none
      .form-control
        margin-bottom: 120px
        background: none
        border: none
        .js-fileName
          background: none
          border: none
          font-family: DIN Pro;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 25px;
          color: #FFF
      .accept
        background: none
        border: none
        text-align: right
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 33px;
        line-height: 40px;
        text-transform: uppercase;
        color: #FFF
.section-content-four.open
    visibility: visible
    top: 0
    right: 0
    left: 0;
    bottom: 0;
    transform: scale(1)
    transition: all .8s ease

.closed-menu 
  width: 37px
  height: 17px
  display: flex
  flex-direction: column
  justify-content: space-between
  cursor: pointer
  transition: transform 500ms ease-out
  z-index: 999999
  position: relative;
  right: -29%;
  top: 40%;

.closed-menu.open 
  transform: rotate(-45deg)

.line-menu-closed 
  background-color: #fff
  border-radius: 5px
  width: 100%
  height: 3px


.line-menu--closed.half 
  width: 50%


.line-menu-closed.start 



.closed-menu:hover.start 
  transition: transform 300ms ease-out

.closed-menu:hover.end 
  -webkit-transform: translateX(-19px)
  transform: translateX(-19px)
  transition: transform 300ms ease-out


.open .line-menu-closed.start 
  transform: rotate(90deg) translateX(14px)


.line-menu-closed.end 
  align-self: flex-end
  transition: transform 230ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
  transform-origin: left


.open .line-menu-closed.end 
  transform: rotate(-90deg) translateX(-3px)

.section-content-five
  position: absolute
  top: 300%
  width: 100%
  height: 100%
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  z-index: -1
  overflow: hidden
  color: #FFF
  background: linear-gradient(180deg, #010003 0%, #07041E 29.17%, #07041E 30.73%, #111C4D 50.52%, #07041E 75.52%, #010206 100%), #000001;
  display: flex
  align-items: center;
  .section-content-five-content
    display: flex
    flex-direction: column;
    align-items: center;
    justify-content: center
    height: 100%
    width: 100%
    .popylar-q-text
      display: flex
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 33px;
      line-height: 40px;
      text-transform: uppercase; 
      margin-bottom: 100px;
    .popylar-q
      display: flex
      width: 60%;
      justify-content: space-evenly;
      .accordion
        width: 540px
        .accordion-item
          border-radius: 10px
          border: none
          margin-right: 25px;
          margin-bottom: 30px;
          width: 540px
          background: none
          .accordion-header
            .accordion-button
              color: #FFF
              background: #00A5CA;
              border-radius: 10px
              box-shadow: 0px 4px 15px rgba(68, 117, 226, 0.15);
              padding-left: 43px
              &::after
                content: '+'
                background-image: none
                transform: none
            .accordion-button.collapsed
              background: rgba(255, 255, 255, 0.2)
              color: #FFF
              box-shadow: 0px 4px 15px rgba(68, 117, 226, 0.15);
              padding-left: 43px
              &::before
                content: ''
                display: block
                position: absolute
                width: 5%
                height: 100%
                background: #0BB2FF;
                left: 0
                border-radius: 10px 0 0 10px
              &::after
                color: #85E3FD
        .accordion-body
          background: rgba(133, 227, 253,0.2 );
          border-radius: 10px
          margin-bottom: 30px
          padding: 24px 29px 25px 27px

